body {
  height: 100%;
}

.week {
  display: flex;
  height: 100%;
  width: 100%;
}

.day {
  margin: 0.25em;
  background-color: aliceblue;
  flex-grow: 1;
  /* padding: 0 0.75em; */
}

.header {
  background: lightgray;
  padding: 0.5em;
  margin: 0;
  display: flex;
  justify-content: space-between;
  column-gap: 1em;
}

.header .date {
  white-space: nowrap;
}

.pagination {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5em;
}

.event {
  background-color: lightgray;
  padding: 0;
  border-radius: 1em;
  margin: 0.5em;
}

.event p {
  margin: 0;
}

.event p.time {
  background-color: grey;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  padding: 0.5em;
}

.event p.summary {
  padding: 0.5em;
}
