body {
  height: 100%;
}

h1 {
  text-align: center;
}

.calendar > .expand-events {
  float: right;
}

.temp-spacer {
  /*This a placeholder till h1 can be properly aligned*/
  display: flex;
  width: calc(100%/3);
}

.header-only-style {
  display: flex;
  width: calc(100%/3);
  justify-content: center;
}

.side-button {
  display: flex;
  width: calc(100%/3);
  justify-content: right;
}

.month .wday.header {
  position: sticky;
  top: 0;
}

.calendar .week {
  display: grid;
  grid-auto-rows: 2;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
}

.day {
  background-color: aliceblue;
  padding: 0.1em;
}

.day img {
  /* Fix to keep absurdly large images contained within the .day cell */
  max-width: 100%;
}

.day.other-month {
  background-color: white;
}

.day.weekend {
  background-color: lightgrey;
}

.calendar .header {
  background: gray;
  padding: 0.5em;
  margin: 0;
  column-gap: 1em;
}

.calendar .month .header {
  text-align: center;
}

.calendar > .week > .day > p.header {
  display: flex;
  justify-content: space-between;
}

.calendar .event .header > p {
  margin: 0;
}

.day .date {
  white-space: nowrap;
  text-align: right;
}

.fc-day-today {
  /*used to hightlight today's date*/
  background-color: mediumturquoise !important;
}

ul {
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  padding: 0;
}

ul li {
  /* this is mostly to suppress the list bullet points */
  display: inline;
}

.pagination {
  display: flex;
  justify-content: space-between;
  padding: 0.25em 0;
}

.view ul {
  margin: 0;
  padding: 0;
}

.pagination .view ul li {
  display: inline;
  margin: 0 1em;
}

.event {
  background-color: #eee;
  padding: 0;
  border-radius: 1em;
  margin: 0.5em;
  overflow: hidden;
}

.event :any-link {
  color: unset;
  text-decoration: none;
}

.event .body .content {
  padding: 0.5em;
}

.calendar > .day .event .body .content img {
  max-height: 50vh;
  max-width: 50vw;
}

.event p {
  margin: 1em 0;
}

.event p:first-child {
  margin-top: 0;
}

.event p:last-child {
  margin-bottom: 0;
}

.event div.header {
  background-color: grey;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  white-space: nowrap;
  margin-bottom: 0;
}

.event .summary {
  font-weight: bold;
}

/* hide body until hover */
.calendar .month .event .body {
  visibility: hidden;

  /* cannot use 100% or auto here, nor can we transition between such values on height
     more info here: https://css-tricks.com/using-css-transitions-auto-dimensions/ */
  max-height: 0;
  transition: all 1s ease;
}

/* continue showing body on hover over body */
.calendar .month .event .body:hover,
.calendar .month .event .header:hover + .body,
input#expand-events:checked ~ .month .events .event .body {
  visibility: visible;

  /* cannot use 100% or auto here, nor can we transition between such values on height
     more info here: https://css-tricks.com/using-css-transitions-auto-dimensions/ */
  max-height: 100vh;
}

.calendar .month {
  display: grid;
  grid-auto-rows: repeat(6, minmax(6em, auto));
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
}
