body
  height: 100%

h1
  text-align: center

.calendar > .expand-events
  float: right

.month .wday.header
  position: sticky
  top: 0

.calendar .week
  display: grid
  grid-auto-rows: 2
  grid-template-columns: repeat(7, 1fr)
  gap: 2px

.day
  background-color: aliceblue
  padding: 0.1em

  img
    /* Fix to keep absurdly large images contained within the .day cell */
    max-width: 100%

  &.other-month
    background-color: white

  &.weekend
    background-color: lightgrey

.calendar
  .header
    background: gray
    padding: 0.5em
    margin: 0
    column-gap: 1em

  .month .header
    text-align: center

  > .week > .day > p.header
    display: flex
    justify-content: space-between

  .event .header > p
    margin: 0

.day .date
  white-space: nowrap
  text-align: right

ul
  width: 100%
  display: inline-flex
  justify-content: space-around
  padding: 0

  li
    /* this is mostly to suppress the list bullet points */
    display: inline

.pagination
  display: flex
  justify-content: space-between
  padding: 0.25em 0

.view ul
  margin: 0
  padding: 0

.pagination .view ul li
  display: inline
  margin: 0 1em

.event
  background-color: #eee
  padding: 0
  border-radius: 1em
  margin: 0.5em
  overflow: hidden

  \:any-link
    color: unset
    text-decoration: none

  .body .content
    padding: 0.5em

.calendar > .day .event .body .content img
  max-height: 50vh
  max-width: 50vw

.event
  p
    margin: 1em 0

    &:first-child
      margin-top: 0

    &:last-child
      margin-bottom: 0

  div.header
    background-color: grey
    border-top-left-radius: 1em
    border-top-right-radius: 1em
    white-space: nowrap
    margin-bottom: 0

  .summary
    font-weight: bold

/* hide body until hover */
.calendar .month .event
  .body
    visibility: hidden

    /* cannot use 100% or auto here, nor can we transition between such values on height
     * more info here: https://css-tricks.com/using-css-transitions-auto-dimensions/ */
    max-height: 0
    transition: all 1s ease

    &:hover
      visibility: visible

      /* cannot use 100% or auto here, nor can we transition between such values on height
       * more info here: https://css-tricks.com/using-css-transitions-auto-dimensions/ */
      max-height: 100vh

  .header:hover + .body
    visibility: visible

    /* cannot use 100% or auto here, nor can we transition between such values on height
     * more info here: https://css-tricks.com/using-css-transitions-auto-dimensions/ */
    max-height: 100vh

/* continue showing body on hover over body */
input#expand-events:checked ~ .month .events .event .body
  visibility: visible

  /* cannot use 100% or auto here, nor can we transition between such values on height
   * more info here: https://css-tricks.com/using-css-transitions-auto-dimensions/ */
  max-height: 100vh

.calendar .month
  display: grid
  grid-auto-rows: repeat(6, minmax(6em, auto))
  grid-template-columns: repeat(7, 1fr)
  gap: 2px
