{% extends "page.html" %}

{% block title %}Agenda View{% endblock title %}

{% block content %}
<div id="statical-calendar" class="calendar">
  <h1>Events</h1>
  {% include "pagination_with_views.html" %}
  <div class="day">
    {% for group, events in event_groups %}
      <p class="header">{{ group }}</p>
      <div class="events">
        {% for event in events %}
          {% include "event_include.html" %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>
  {% include "pagination.html" %}
</div>
{% endblock content %}
