{% extends "page.html" %}

{% block title %}Agenda View{% endblock title %}

{% block content %}
<div id="statical-calendar" class="calendar">
  <h1>Events</h1>
  {% include "pagination_with_views.html" %}
  <div class="day">
    {% set previous_agenda_header = "initial_placeholder_value" %}
    {% for event in events %}
      {% if event.agenda_header != previous_agenda_header %}
      <a href="{{ event.day_view_path }}">
        <p class="header">{{ event.agenda_header }}</p>
        <div class="events">
        {% endif %}
          {% include "event_include.html" %}
        {% if event.agenda_header != previous_agenda_header %}
        </div>
      </a>
      {% endif %}
      {% set_global previous_agenda_header = event.agenda_header %}
    {% endfor %}
  </div>
  {% include "pagination.html" %}
</div>
{% endblock content %}
