<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/statical.css" />
    <title>Agenda View</title>
  </head>
  <body>
    <div class="calendar">
      <h1>Events</h1>
      <div class="pagination">
        <div class="previous"><a href="{{ previous_file_name }}">&lt; Previous</a></div>
        <div class="next"><a href="{{ next_file_name }}">Next &gt;</a></div>
      </div>
      {% for event in events %}
      <p>{{ event[0].date }} {{ event[0].events[0].start }} - {{ event[1].summary }}</p>
      {% endfor %}
      <pre>{{ __tera_context }}</pre>
      <div class="pagination">
        <div class="previous"><a href="{{ previous_file_name }}">&lt; Previous</a></div>
        <div class="next"><a href="{{ next_file_name }}">Next &gt;</a></div>
      </div>
    </div>
  </body>
</html>
