<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ stylesheet_path | safe }}" />
  <title>Day View</title>
</head>

<body>
  <div class="calendar">
    <h1>Events for {{ year }}-{{ month }}-{{ day }}</h1>
    {% include "views.html" %}
    {% include "pagination.html" %}
    {% for event in events %}
    <p>{{ event.summary }} - {{ event.start }}</p>
    {% endfor %}
    {% include "pagination.html" %}
  </div>
</body>

</html>
