<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ stylesheet_path | safe }}" />
  <title>Day View</title>
</head>

<body>
  <div class="calendar">
    <h1>Events for {{ view_date }}</h1>
    {% include "pagination_with_views.html" %}
    <div class="day">
      <p class="header">
        <span class="date">{{ month_name }} {{ day }}, {{ year }}</span>
      </p>
      <div class="events">
        {% for event in events %}
          {% include "event.html" %}
        {% endfor %}
      </div>
    </div>
    {% include "pagination.html" %}
  </div>
</body>

</html>
