<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ stylesheet_path | safe }}" />
  <title>Month View</title>
</head>

<body>
  <div class="calendar">
    <h1>Events for {{ year }}-{{ month }}</h1>
    {% include "views.html" %}
    {% include "pagination.html" %}
    Calendar
    <div class="month">
      {% for week in weeks %} {% for day in week %}
      <div class="day">
        <p class="date">
          {% if day.day == 1 %}
          {{ day.month }}
          {% endif %}
          {{ day.day }}
        </p>
        <div class="events">
          {% for event in day.events %}
            {% include "event.html" %}
          {% endfor %}
        </div>
      </div>
      {% endfor %} {% endfor %}
    </div>
    {% include "pagination.html" %}
  </div>
</body>

</html>
