<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ stylesheet_path | safe }}" />
  <title>Week View</title>
</head>

<body>
  <div class="calendar">
    <h1>Events for week {{ week }} of {{ view_date }}</h1>
    {% include "pagination_with_views.html" %}
    <div class="week">
      {% for day in week_dates %}
      <div class="day">
        <p class="header">
          <span class="wday">{{ day.wday }}</span>
          <span class="date">{{ day.month }} {{ day.day }}</span>
        </p>
        <div class="events">
          {% for event in day.events %}
            {% include "event.html" %}
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
    {% include "pagination.html" %}
  </div>
</body>

</html>
